{{#*inline "page"}}
<div class="container mt-4">
  <h1>Users</h1>

  <ul>
    {{#each users}}
      <li>{{ this.username }}, {{ this.encrypted_password }}</li>
    {{/each}}
  </ul>
</div>
{{/inline}}

{{> (layout)}}
