<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>{{ translate "en" "fedihub" }}</h1>
    <p class="lead">
      {{ translate "en" "federated-services-without-censorship" }}
    </p>
  </div>
</div>
