<div class="container mt-4">
  <h1>Reports</h1>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">
          Year, month
        </th>
        <th scope="col">
          Seller/source
        </th>
        <th scope="col">
          Amount
        </th>
        <th scope="col">
          Download
        </th>
      </tr>
    </thead>

    <tbody>
      {{#each reports}}
        <tr>
          <td>{{ this.datetime }}</td>
          <td>{{ this.party }}</td>
          <td>{{ this.amount }}</td>
          <td><a href="{{ this.download }}">PDF</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
