<div class="container mt-4">
  <h1>Sign Up</h1>

  <form method="post" action="/sign_up">
    <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}"/>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" value="{{ username }}" class="form-control" placeholder="Username"/>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
    </div>

    <div class="form-group">
      <label for="password_confirmation">Password confirmation</label>
      <input type="password" id="password_confirmation" name="password_confirmation" class="form-control" placeholder="Password confirmation"/>
    </div>

    <button type="submit" class="btn btn-primary">
      Sign Up
    </button>
  </form>
</div>
